<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/setting/gameboard.css" />
    <title>Game Board</title>
  </head>
  <body>
    <div class="board">
      <div class="Timer">
        <div>
          <p>Timer: <span id="counter">0</span></p>
        </div>
        <div>
          <p id="message">[]</p>
        </div>
      </div>
      <div>
        <p id="username" style="display: none"><%= username %></p>
      </div>

      <div id="graph">
        <div id="mouse"></div>
      </div>
    </div>

    <script src="/scripts/counter.js"></script>
    <script src="/scripts/mouse.js"></script>
  </body>
</html>
