<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/setting/homepage.css">
    <title>Home Page</title>
  </head>
  <body>                                                                                                               
    <h1>WELCOME To Hao's Where's Waldo</h1>

    <div class="main">
        <h1>WHERE'S WALDO?</h1>
        <p>Can you find Waldo</p>
        <!-- <a href="/login">
            <button id="login">Login</button>
        </a>
        <a href="/sign-up">
            <button id="sign-up">Sign up</button>
        </a> -->
        <form action="/gamestart" method="GET">
          <label for="username">Username</label>
          <input id="username" name="username" placeholder="username" type="text" />
          <button id="gamestart" type="submit">Play Game</button>
        </form>
        
        <div id="scoreboards">
            <h2>Score Board</h2>
            <%for(let i=0;i<score.length;i++){%>
                <p><%= i+1 %>. <strong>Name:</strong> <%= score[i].name %>  
<strong>Score:</strong> <%= score[i].score %> Second</p>
            <%}%>
        </div>
    </div>

  </body>
</html>
