body {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  background-image: url('/pic/waldobanner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* show whole image */
  background-attachment: fixed;
  background-color: #f0f0f0;
}

#graph {
  width: 900px;
  height: 600px;
  border: 2px solid #444;
  border-radius: 10px;
  background-image: url('/pic/Waldo1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  position: relative; /* needed for #mouse to move inside */
}

#mouse {
  width: 20px;
  height: 20px;
  background-color: dodgerblue;
  border-radius: 50%;
  position: absolute; /* relative to #graph */
  pointer-events: none;
  transform: translate(-50%, -50%); /* centers on cursor */
  transition: transform 0.1s ease-out;
}

.Timer {
  display: flex;
  flex-direction: row;
  font-size: 48px;
  margin: 30px 0;
  justify-content: space-around;
}

#scoreboards {
  display: flex;
  justify-content: center; /* horizontal center */
}
